---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a: { data: { pubDate: number } }, b: { data: { pubDate: number } }) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="p-8 bg-black">
    <!-- noiseee -->
    <div
      class="w-full h-screen bg-[url('/Noise.svg')] z-20 fixed top-0 pointer-events-none"
    >
    </div>

    <img src="/EPISTEME.svg" class="object-contain w-full" alt="EPISTEME" />

    <div class="flex mt-8 space-x-8">
      <!-- left section -->
      <div class="flex-1 max-w-[66.6666%]">
        <div class="flex relative items-center gap-6 text-[#956FA4] w-full">
          <img
            src="/Spheres.svg"
            class="w-64 flex-shrink-0 absolute top-16 right-0"
            alt=""
          />
          <span class="font-bold text-[2rem] uppercase tracking-tight"
            >latest</span
          >
          <div class="h-[3px] bg-[#956FA4] flex-grow"></div>
          <span class="font-bold text-[2rem] tracking-tight">09-11-2024</span>
        </div>

        <ul class="space-y-8 mt-12">
          {
            posts.map(
              (post: {
                slug: any;
                data: { title: unknown; pubDate: Date };
              }) => (
                <li>
                  <a
                    href={`/blog/${post.slug}/`}
                    class="inline-flex items-center group hover:opacity-80 transition-opacity"
                  >
                    <img
                      src="/Vector.svg"
                      class="w-20 mr-6 flex-shrink-0"
                      alt=""
                    />
                    <div class="flex-grow">
                      <h4 class="uppercase font-bold text-[#e9e9e9] text-[2rem] mt-2 mb-[-1rem]">
                        {post.data.title}
                      </h4>
                      <p class="text-[#956FA4]/80 ">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </a>
                </li>
              )
            )
          }
        </ul>
      </div>

      <!-- glass melting imagee -->
      <div class="flex-shrink-0 w-[33.3333%] relative">
        <img
          src="/Glass.png"
          class="w-full h-auto object-fill"
          alt="Decorative glass image"
        />
      </div>
    </div>
  </body>
</html>
